// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';



.counters,.voteControl{
  padding-right:10px;
  text-align:center;     
}
.leftBorder{
  margin-left:10px;
  padding-left:15px;
  border-left:1px solid #bfbbbb;
}
.counters{
  font-size:10px;
  strong{
     display:block;
     font-size:2em;
  }

	.vote,.answer{
    width:60px;
    height:60px;
    
	}

	.status{
      &.unanwered{
      border:none;
      }
      &.answered{
        border:1px solid $green;
      }
      &.accepted{
      	 background-color:$green;
         color:$white;	
      }
	}

	.view{
	margin-top:10px;
	}
}
form.formDelete{
	display: inline;
}

.voteControl{
  transition: all .2s ease-in-out;
  color:#95989b;
  a,span{
    display:block;
  }
  span{
    &.vote-count{
       color:$black;
       font-size:20px;
    }
    &.favorite-count{
       font-size:12px;
    }
  }
  a{
    cursor: pointer;
    &.off,&.off:hover{
      color:#cacdce;
    }
    &.favorite,&.favorite:hover{
    color:#fde930;
    }
  } 
  .accept{
    color:#06a206 !important
  }
  .voted{
  color:#5260c3 !important;
  }
  .unVoted{
  color:#a7a7a7 !important;
  }
  .move:hover{
    transform: scale(1.3);
  }

}
.split:not(:last-child){
    margin-bottom: 1.5rem;
    padding-bottom:15px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }

 [v-cloak]{
   display: none;
 }