<template>
    <div>
        <a v-if="canAccept" title="This answer is accepted"
            :class="classes "
            @click.prevent="create">
            <i class="fas fa-check fa-2x"></i>
        </a>
        <a v-if="accepted" title="This answer is accepted"
           :class="classes">
            <i class="fas fa-check fa-2x"></i>
        </a>
    </div>
</template>

<script>
import EventBus from '../event-bus';

export default{
    props:['answer'],

    data(){
        return{
            isBest:this.answer.is_best,   
            Id:this.answer.id
        }
    },
    
    created(){
       EventBus.$on('accepted',id=>{
           this.isBest= (id == this.Id);
       });
    },

    computed:{
        canAccept(){
            return this.authorize('accept',this.answer);
        },
        accepted(){
            return !this.canAccept && this.isBest;
        },
        classes(){
            return !this.signedIn?'':'move '+(this.isBest?"accept":"");
        },
        signedIn(){
            return window.Auth.singIn;
        }
    },
    methods:{
        create(){
            axios.post('/answers/'+this.Id+'/accept').then(res=>{
                EventBus.$emit('accepted',this.id);
                console.log('done');
            });
            this.isBest=true;
        }
    }
}
</script>