<template>
     <div class="media split">
        <vote name="answer" :model="answer"></vote> 
        <div class="media-body pt-2 leftBorder">
            <form v-if="editing" class="form-group" @submit.prevent="upadte">
                <textarea name="body" v-model="body" class="form-control mb-2" rows="10"></textarea>
                <div class="float-right">
                  <button  class="btn btn-outline-primary btn-sm" :disabled="isValid">Save</button>
                  <button @click="cancel" type="button" class="btn btn-outline-danger btn-sm">Cancel</button>
                </div>
            </form>
            <div v-else>
                <div v-html="bodyHtml"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div v-if="authorize('modify',answer)">
                       <a @click="edit" class="btn btn-outline-info btn-sm">Edit</a>
                        <button type="submit" class="btn btn-sm btn-outline-danger" @click="destroy">Delete</button>
                        </div>
                    </div>
                    
                    <div class="col-md-4"></div>
                    <div class="col-md-4 float-right">
                        <user-info :model="answer" label="Answered"></user-info>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props:['answer'],

        data(){
            return{
                editing:false,
                body: this.answer.body,
                bodyHtml:this.answer.body_html,
                Id:this.answer.id,
                questionId:this.answer.question_id,
                beforeEditing:null,
                afterEditing:null,
            }
        },

        methods:{
            edit(){
                this.editing=true;
                this.beforeEditing=this.body;
                console.log(this.questionId);
            },
            cancel(){
                this.editing=false;
                this.body=this.beforeEditing;
                console.log('cancel');
            },
            upadte(){
                axios.patch('/questions/'+this.questionId+'/answers/'+this.Id, {
                    body: this.body
                }).then(res=> {
                    this.editing=false;
                    this.bodyHtml=res.data.body_html;
                }).catch(error=>{
                    this.editing=false;
                    alert(error.response.data.message);
                    console.log(error.data);            
                });
            },
            destroy(){
                if(confirm('Are You Sure?')){
                    axios.delete('/questions/'+this.questionId+'/answers/'+this.Id)
                         .then(res=> {
                              /*iziToast.success({
                                title: 'OK',
                                message: 'Successfully deleted answer!'});*/
                                this.$emit('deleted');
                          }).catch(error=>{
                            alert(error.response.data.message);
                            console.log(error.data);            
                        });
                }
            }
        },
        computed:{
            isValid(){
                console.log(this.body.length);
                return this.body.length<10;
                
            }
        }
    }
</script>