<template>
       <div class="row mt-4 ">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div v-if="count == 0">
                        <strong>No answers available ... add one</strong>
                    </div>
                    <div v-else>
                       <div class="card-title ">
                            <h4>{{count}} {{title}}</h4>
                        </div>
                        <hr>
                        <answer @deleted="remove(index)" v-for="(answer,index) in answers" :answer="answer" :key="answer.id"></answer>
                        <div class="text-center mt-3" v-if="nextUrl">
                            <button @click.prevent="fetch(nextUrl)" class="btn btn-outline-secondary btn-lg">Load new answers</button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!signedIn">
                Login in then add one <a @click.prevent="login">Click Here</a>
            </div>
            <div v-else>
                <div class="card" v-if="signedIn">
                    <div class="card-body">
                        <new-answer></new-answer>
                      <!-- @include('answers._createAnswer') -->
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import answer from "./answer.vue";
import newanswer from "./NewAnswer.vue";

export default {
    props:['question'],

    data(){
        return{
            answers:[],
            count:this.question.answers_count,
            id:this.question.id,
            nextUrl:null
        }
    },
    computed:{
        signedIn(){
            return window.Auth.singIn;
        },
        login(){
           return window.location = "login";
        },
        title(){
            return  this.count>1? 'Answers':'Answer';
        },
        endPoint(){
            return '/questions/'+this.id+'/answers';
        }
    },
    created(){
        this.fetch(this.endPoint);
    },
    methods:{
        remove(index){
            this.answers.splice(index,1);
            this.count--;
        },
        fetch(url){
            axios.get(url)
            .then(({data})=>{
              //  console.log(data);
                this.answers.push(...data.data);
                this.nextUrl=data.next_page_url;
            });
        }
    },
    components:{
        answer,
        NewAnswer 
    }
}
</script>