<template>
    <a title="Favorite This question or not" 
            :class="classes"
            @click.prevent="toggle" >
        <i class="fas fa-star fa-2x"></i>
        <span class="favorite-count">
            {{count}}
        </span>
    </a>
</template>
<script>
    export default {
        props:['question'],

        data(){
            return{
                isFavorited:this.question.is_favorited,
                count:this.question.favorutes_count,
                id:this.question.id,
            }
        },

        computed:{
            classes(){
                return [
                   ! this.signedIn? 'off':'move '+(this.isFavorited?'favorite':'unfavorite')
                ];
            },
            endPoint(){
                return "/questions/"+this.id+"/favorite";
            },
            signedIn(){
                return window.Auth.singIn;
            }
        },

        methods:{
            toggle(){
                if(!this.signedIn){
                    alert('Please login to favorite this question');
                    return;
                }
                 this.isFavorited? this.destroy():this.create();
            },
            destroy(){
                axios.delete(this.endPoint)
                .then(res=>{
                        this.count--;
                        this.isFavorited=false;
            });
            },
            create(){
                 axios.post(this.endPoint)
                .then(res=>{
                        this.count++;
                        this.isFavorited=true;
                    });
            }

        }
    }
</script>