<template>
   <div>
       <span class="text-muted">
		    {{postData}}
		</span>
		<div class="media mt-2">
		    <a :href="user.url">
		        <img :src="user.avatar">
		    </a>
		    <div class="media-body ml-2">
		        <a class="mt-1" :href="user.url">
		            {{user.name}}
		        </a>
		    </div>
		</div>
   </div>
</template>

<script>
    export default {
        props:['model','label'],

        computed:{
           postData(){
            return this.label+"  "+this.model.created_date;
           }
        },

        data(){
            return{
               user: this.model.user
            }
           
        }
    }
</script>