<template>    
    <div class="d-flex flex-column voteControl">
        <a :title="title('up')"
            :class="classes"
            @click.prevent='vote(1)'
            >
            <i class="fas fa-caret-up fa-3x"></i>
        </a>
        
        <span :class="classes">
            {{count}}
        </span>
        <a :title="title('down')" 
            :class="classes"
            @click.prevent='vote(-1)'
            >
            <i class="fas fa-caret-down fa-3x"></i>
        </a>

        <favorite v-if="name=='question'" :question="model"></favorite>
        
        <accept v-else :answer="model"></accept>
        
    </div>
</template>

<script>

import favorite from './favorite.vue';
import accept from './accept.vue';

export default {
    props:['name','model'],

    data(){
        return{
            count:this.model.votes_count,
            id:this.model.id
        }
    },
    computed:{
        classes(){
            return !this.signedIn?'off':'move ';//+this.voteNumber(-1);
        },
        voteNumber(vote){
            // return this.model.isvote(vote);
        },
        signedIn(){
            return window.Auth.singIn;
        },
        endPoint(){
            return '/'+this.name+'s/'+this.id+'/vote';
        }
    },
    components:{
       favorite,
       accept
    },
    methods:{
        title(voteType){
            let titles={
                'up':'this '+this.name+' is useful',
                'down':'this '+this.name+' is unuseful'
            }
            return titles[voteType];
        },
        vote(vote){
            this._vote(vote);
        },
        _vote(vote){
            axios.post(this.endPoint,{vote})
            .then(res=>{
                this.count=res.data.votesCount;
            });
        }
    }
}
</script>